@font-face {
	font-family: avenir;
	src: url('avenir/Avenir LT 35 Light.ttf');
}

body {
	font-family: avenir, sans-serif;
	/*height: 100%;
	margin: 0;
	padding: 0;
	*/
}

h1, h2, h3, p, ul, ol, dl, table, div {
	/*margin: 1px;
	padding: 1px;
	*/
}


td, th, a, img, span, li, dt, dd, input {
	/*margin: 0px;
	padding: 1px;
	*/
}

a {
	/*text-decoration: none; */
}


#map_canvas {
	min-width: 320px;
	min-height: 400px;		
	width: 90%;
	
}