
body {
	font-family: sans-serif, Arial;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, p, ul, ol, dl, table, div {
	margin: 1px;
	padding: 1px;
}


td, th, a, img, span, li, dt, dd, input {
	margin: 0px;
	padding: 1px;
}

a {
	text-decoration: none;
}

.footer a {
	margin: 0px 20px 0px 0px;
}

html {
	height: 100%;
}

.footer {
	position: absolute;
	top: 95%;
	height: 5%;
	width: 100%;
	background-color: white;
	text-align: right;
	padding:0px 0px 20px 0px;
}


#map_canvas {
	min-width: 320px;
	min-height: 315px;
	
}