@font-face {
	font-family: avenir;
	src: url('avenir/Avenir LT 35 Light.ttf');
}

body {
	font-family: avenir, sans-serif;
}

.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important }
.nav-glyphish-example .ui-btn .ui-icon {
    width: 30px!important;
    height: 30px!important;
    margin-left: -15px !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
#map_footer_link .ui-icon {
 	background: url(07-map-marker.png) 50% 50% no-repeat;
 	background-size: 24px 22px;
}
#list_footer_link .ui-icon {
    background: url(104-index-cards.png) 50% 50% no-repeat;
    background-size: 24px 22px;
}
#filter_footer_link .ui-icon {
    background: url(111-filter.png) 50% 50% no-repeat;
    background-size: 35px 30px;
}
#help_footer_link .ui-icon {
    background: url(30-key.png) 50% 50% no-repeat;
    background-size: 12px 26px;
}

#map_canvas {
	min-width: 320px;
	min-height: 400px;
	width: 90%;	
}

.icons {
    height:45px;
}
.woman_icon_building{
    float: left;
    width: 45px;
    height: 45px;
    background: url(woman-icon.png) 50% 50% no-repeat;
    background-size: 47px 47px;
}
.man_icon_building{
    float: left;
    width: 45px;
    height: 45px;
    background: url(man-icon.png) 50% 50% no-repeat;
    background-size: 44px 44px;
}
.handicap_icon_building{
    float: left;
    width: 45px;
    height: 45px;
    background: url(handicap-icon.png) 50% 50% no-repeat;
    background-size: 47px 47px;
}



.woman_icon_help{
    float: left;
    width: 30px;
    height: 30px;
    background: url(woman-icon.png) 50% 50% no-repeat;
    background-size: 30px 30px;
}
.man_icon_help{
    float: left;
    width: 30px;
    height: 30px;
    background: url(man-icon.png) 50% 50% no-repeat;
    background-size: 30px 30px;
}
.handicap_icon_help{
    float: left;
    width: 30px;
    height: 30px;
    background: url(handicap-icon.png) 50% 50% no-repeat;
    background-size: 30px 30px;
}

